<script src="../../js/bootstrap-input-spinner.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <div class="container">
                        <aside>
                            <div class="row mt-5">
                                <div class="col">
                                    <div class="card mt-2">
                                        <form action="filtrado" method="post">
                                            <div class="card card-header">
                                                <a class="btn btn-primary btn-block" data-bs-toggle="collapse"
                                                    href="#collapseExample" role="button" aria-expanded="false"
                                                    aria-controls="collapseExample">
                                                    Filtros<i class="bi bi-funnel-fill"></i>
                                                </a>
                                            </div>
                                            <div class="collapse" id="collapseExample">
                                                <div class="card card-body">
                                                    <span class="ms-2">Buscar Por Nombre:</span>
                                                    <input class="form-control ms-2 mb-2" style="width: 90%;"
                                                        type="text" name="N_Producto" id="">
                                                    <div class="form-group">
                                                        <span>Filtrar Institucion:</span>
                                                        <select class="custom-select form-control" id="Institucion"
                                                            name="Institucion" required>
                                                            <option selected>Seleccione Institucion</option>
                                                            <option value="IPVC">IPVC</option>
                                                            <option value="UB">UB</option>
                                                            <option value="UAC">UAC</option>
                                                        </select>
                                                    </div>
                                                    <br>
                                                    <div class="form-group">
                                                        <span>Filtrar Categoria</span>
                                                        <select class="custom-select form-control" name="Tipo"
                                                            id="Seccion" required>
                                                            <option selected>Seleccione Categoria</option>
                                                            <option value="Oficina">Oficina</option>
                                                            <option value="Limpieza">Limpieza</option>
                                                            <option value="Impresoras">Impresoras</option>
                                                            <option value="Toners">Toners</option>
                                                            <option value="Productos Electricos">Productos Electricos
                                                            </option>
                                                            <option value="Computadoras">Computadoras</option>
                                                            <option value="Perifericos">Perifericos</option>
                                                        </select>
                                                        <br>
                                                    </div>
                                                    <button class="form-control btn btn-success mx-2 mb-2"
                                                        style="width: 93%;" type="submit">Buscar</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="container p-4">
                        <div class="table table-responsive">
                            <table class="table table-hover table-condensed table-stripped tablex"
                                style="border-color: #000000; table{border-radius: 10px;}">
                                <thead class="thead-dark">
                                    <tr style="background-color:#3647E8; color: aqua;">
                                        <th class="text-center my-auto">
                                            <p class="text-center mx-auto">Nombre Producto</p>
                                        </th>
                                        <th class="text-center my-auto">
                                            <p class="text-center mx-auto">Stock Actual</p>
                                        </th>
                                        <th class="text-center my-auto">
                                            <p class="text-center mx-auto">Stock Minimo</p>
                                        </th>
                                        <th class="text-center my-auto">
                                            <p class="text-center mx-auto">Tipo</p>
                                        </th>
                                        <th class="text-center my-auto">
                                            <p class="text-center mx-auto">Observacion</p>
                                        </th>
                                        <th class="text-center my-auto" style="width:  8.33%">
                                            <p class="text-center mx-auto">Cantidad</p>
                                        </th>
                                        <th colspan="2">
                                            <p class="text-center mx-auto">Agregar a Solicitud</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each result}}
                                    {{#if status}} {{!Si Valor es menor Rojo}}
                                    <tr class="" style="background-color: #FF6961;">
                                        <td>{{N_Producto}}</td>
                                        <td>{{Stock_Actual}}</td>
                                        <td>{{Stock_Minimo}}</td>
                                        <td>{{Tipo}}</td>
                                        <td>{{Observacion}}</td>
                                        <form action="/Solicitudes/AgregarSolicitud/{{Id_Producto}}" method="post">
                                            <td><input type="number" class="form-control text-center" name="Cantidad"
                                                    value="1" min="1" max="{{Stock_Actual}}" />
                                            </td>
                                            <Td><button type="submit" class="btn btn-primary text-wrap">Agregar a
                                                    Solicitud</button></Td>
                                        </form>
                                    </tr>
                                    {{else if StatusEq}} {{! Si Valor es igual fondo = Amarillo}}
                                    <tr class="" style="background-color: #FDFD96;">
                                        <td>{{N_Producto}}</td>
                                        <td>{{Stock_Actual}}</td>
                                        <td>{{Stock_Minimo}}</td>
                                        <td>{{Tipo}}</td>
                                        <td>{{Observacion}}</td>
                                        <form action="/Solicitudes/AgregarSolicitud/{{Id_Producto}}" method="post">
                                            <td><input type="number" class="form-control text-center" name="Cantidad"
                                                    value="1" min="1" max="{{Stock_Actual}}" />
                                            </td>
                                            <Td><button type="submit" class="btn btn-primary text-wrap">Agregar a
                                                    Solicitud</button></Td>
                                        </form>
                                    </tr>
                                    {{else}}
                                    <tr style="color: black; background-color: aliceblue;">
                                        <td>{{N_Producto}}</td>
                                        <td>{{Stock_Actual}}</td>
                                        <td>{{Stock_Minimo}}</td>
                                        <td>{{Tipo}}</td>
                                        <td>{{Observacion}}</td>
                                        <form action="/Solicitudes/AgregarSolicitud/{{Id_Producto}}" method="post">
                                            <td><input type="number" class="form-control text-center" name="Cantidad"
                                                    value="1" min="1" max="{{Stock_Actual}}" />
                                            </td>
                                            <Td><button type="submit" class="btn btn-primary text-wrap">Agregar a
                                                    Solicitud</button></Td>
                                        </form>

                                    </tr>
                                    {{/if}}

                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>