<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <h3>Solicitudes Generales</h3>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-3">
                    <form action="../../Solicitudes/SolicitudesGenerales/Filtro" method="post">
                        <div class="card">
                            <div class="card-header text-center">
                                <h4>Filtrar</h4><i class="bi bi-funnel-fill" style="color: blue;"></i>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <span>Filtrar por Funcionario</span>
                                    <select class="custom-select form-control" id="Usuario" name="Usuario" required>
                                        <option selected>Seleccione Funcionario</option>
                                        {{#each users}}
                                        <option value="{{ID}}">{{Nom_usu}}</option>
                                        {{/each}}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <span>Filtrar por Estado</span>
                                    <select class="custom-select form-control" id="Estado" name="Estado" required>
                                        <option selected>Seleccione Estado</option>
                                        <option value="Entregada">Entregada</option>
                                        <option value="En Proceso">En Proceso</option>
                                        <option value="Cancelada">Cancelada</option>
                                    </select>
                                </div>
                                <div class="form-group mt-4 ms-3">
                                    <button class="btn btn-success" type="submit">Aplicar Filtro</button>
                                    <a href="../../Solicitudes/SolicitudesGenerales" class="btn btn-danger">Quitar
                                        Filtro</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-8">
                    {{#each solicitudes}}
                    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                        <div class="card-header">
                            <p>
                            <div class="row">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row justify-content-md-center">
                                            <div class="col">
                                                <h4>Solicitado por</h4>
                                            </div>
                                            <div class="col">
                                                <h4>Creado </h4>
                                            </div>
                                            <div class="col">
                                                <h4>Estado</h4>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4"><a class="btn btn-primary mx-auto" data-bs-toggle="collapse"
                                            href="#collapseExample{{Id_Solicitud}}" role="button" aria-expanded="false"
                                            aria-controls="collapseExample">
                                            Ver Datos Solicitud
                                        </a></div>
                                </div>
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="row justify-content-md-center">
                                            <div class="col">
                                                {{Id_Usuario}}
                                            </div>
                                            <div class="col">
                                                {{timeago F_Solicitud}}
                                            </div>
                                            <div class="col">
                                                {{{Estado}}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </p>
                        </div>
                        <div class="card-body">
                            <div class="collapse" id="collapseExample{{Id_Solicitud}}">
                                <div class="card card-body">
                                    Productos Solicitados
                                    <br>
                                    <div class="row mt-2">
                                        {{#each PSolicitados}}
                                        <div class="col-md-6 my-auto">
                                            <strong class="strong">{{this.items.N_Producto}}</strong>
                                            <label for="strong">{{this.items.Tipo}}</label>
                                        </div>
                                        <div class="col-md-4"></div>
                                        <div class="col-md-2 my-auto">
                                            <span class="badge bg-info">{{this.qty}}</span>
                                        </div>
                                        {{/each}}
                                        <div class="col-md-8"></div>
                                        <div class="col-md-4 mt-4">
                                            <a href="../../Solicitudes/DetallesSolicitud/{{Id_Solicitud}}"
                                                class="btn btn-outline-info">Detalles Solicitud
                                                <iclass="bi bi-info-circle" fill="currentColor">
                                                    </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>