<div class="container p-4">
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead class="thead-dark">
                <tr>
                    <th>Nombre Producto</th>
                    <th>Stock Actual</th>
                    <th>Stock Minimo</th>
                    <th>Institucion</th>
                    <th>Tipo</th>
                    <th>Ubicación</th>
                    <th>Observacion</th>
                    <th>Agregado/Modificado Por</th>
                    <th>Agregado hace</th>
                </tr>
            </thead>
            <tbody>
                {{#each result}}
                {{#if status}}
                <tr style="background-color:#FF0000">
                    <td>{{N_Producto}}</td>
                    <td>{{Stock_Actual}}</td>
                    <td>{{Stock_Minimo}}</td>
                    <td>{{Institucion}}</td>
                    <td>{{Tipo}}</td>
                    <td>{{Ubicacion}}</td>
                    <td>{{Observacion}}</td>
                    <td>{{Func_Agrega}}</td>
                    <td>{{timeago F_Agregado}}</td>
                    <td><a href="Inventario/Modificar/{{Id_Producto}}" class="btn btn-primary">Modificar</a></td>
                    <Td><a href="Inventario/Eliminar/{{Id_Producto}}" class="btn btn-danger">Eliminar</a></Td>
                    
                </tr>
                {{else}}
                <tr>
                    <td>{{N_Producto}}</td>
                    <td>{{Stock_Actual}}</td>
                    <td>{{Stock_Minimo}}</td>
                    <td>{{Institucion}}</td>
                    <td>{{Tipo}}</td>
                    <td>{{Ubicacion}}</td>
                    <td>{{Observacion}}</td>
                    <td>{{Func_Agrega}}</td>
                    <td>{{timeago F_Agregado}}</td>
                    <td><a href="Inventario/Modificar/{{Id_Producto}}" class="btn btn-primary" >Modificar</a></td>
                    <Td><a href="Inventario/Eliminar/{{Id_Producto}}" class="btn btn-danger">Eliminar</a></Td>
                </tr>
                {{/if}}
                
                {{/each}}
            </tbody>
        </table>
    </div>
</div>