<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #3647E8;">
    <div class="container text-uppercase">
        <a class="navbar-brand mt-2" href="/">
            <img src="../../img/IPVC2021_vertical blanco.png" alt="LOGO" width="60" height="35"
                class="d-inline-block align-text-top">
            Sistema Inventario IPVC La Serena
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto">

                {{#if usuarioActivo}}
                {{!Pregunta por Administrador}}
                {{#if level3}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Solicitudes
                        {{#if productos}}
                        <span class="badge bg-info text-dark">{{CantidadTotal}}</span>
                        {{/if}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink"
                        style="background-color: #3647E8;">
                        <li><a class="dropdown-item" href="../../Solicitudes/">Crear/Agregar Solicitud</a></li>
                        {{#if productos}}
                        <li><a class="dropdown-item" href="../../Solicitudes/Estado">Ver Solicitud</a></li>
                        {{/if}}
                        <li><a class="dropdown-item" href="../../Solicitudes/MisSolicitudes">Mis Solicitudes</a></li>
                        <li><a class="dropdown-item" href="../../Solicitudes/SolicitudesGenerales">Solicitudes
                                Generales</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Menus
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink"
                        style="background-color: #3647E8;">
                        <li><a class="dropdown-item" href="../../Inventario?p=1">Listado</a></li>
                        <li><a class="dropdown-item" href="../../Inventario/Agregar">Agregar Productos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="../../NuevoUsuario">Agregar Usuario</a></li>
                        <li><a class="dropdown-item" href="../../ControlUsuarios?p=1">Control de Usuarios</a></li>

                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Acciones
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink"
                        style="background-color: #3647E8;">
                        <li><a class="dropdown-item" href="/Perfil">Perfil</a></li>
                        <li><a class="dropdown-item" href="/Logout">Cerrar Sesi贸n</a></li>
                    </ul>
                </li>

                {{!Preguntar por Auxiliar}}
                {{else if level2}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Solicitudes
                        {{#if productos}}<span class="badge bg-info text-dark">{{CantidadTotal}}</span>
                        {{/if}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink"
                        style="background-color: #3647E8;">
                        <li><a class="dropdown-item" href="../../Solicitudes/SolicitudesGenerales">Solicitudes
                                Generales</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Menus
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink"
                        style="background-color: #3647E8;">
                        <li><a class="dropdown-item" href="../../Inventario">Listado</a></li>
                        <li><a class="dropdown-item" href="../../Inventario/Agregar">Agregar Productos</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Acciones
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink"
                        style="background-color: #3647E8;">
                        <li><a class="dropdown-item" href="/Perfil">Perfil</a></li>
                        <li><a class="dropdown-item" href="/Logout">Cerrar Sesi贸n</a></li>
                    </ul>
                </li>
                {{else if usuarioActivo}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Solicitudes
                        {{#if productos}}<span class="badge bg-info text-dark">{{CantidadTotal}}</span>
                        {{/if}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink"
                        style="background-color: #3647E8;">
                        <li><a class="dropdown-item" href="../../Solicitudes/">Crear/Agregar Solicitud</a></li>
                        {{#if productos}}
                        <li><a class="dropdown-item" href="../../Solicitudes/Estado">Ver Solicitud<span
                                    class="badge bg-info text-dark">{{CantidadTotal}}</span></a></li>
                        {{/if}}
                        <li><a class="dropdown-item" href="../../Solicitudes/MisSolicitudes">Mis Solicitudes</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Acciones
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink"
                        style="background-color: #3647E8;">
                        <li><a class="dropdown-item" href="/Perfil">Perfil</a></li>
                        <li><a class="dropdown-item" href="/Logout">Cerrar Sesi贸n</a></li>
                    </ul>
                </li>
                {{/if}}
                {{else}}
                <li><a class="nav-link Text-White" href="/login"
                        style="color: aliceblue; background-color: #3647E8;">Iniciar Sesi贸n</a></li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>