<div class="container-fluid">
    <div class="row justify-content-md-cente">
        <div class="col col-lg-2"></div>
        <div class="col-md-auto mt-5">
            <h2 class="mx-auto" style="color: #000000;
                text-shadow: 2px 2px 4px white; font-size: 50px;">
                Control de Usuarios
                </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <form action="../Auth/ControlUsuarios/there?qs1=you&qs2=tube" method="post">
                <input type="text" name="texto" value="Hola">
                <button type="submit" class="btn btn-success"> boton</button>
            </form>
        </div>
        <div class="col-md-10">
            <div class="pagination pagination-centered">
                <nav aria-label="Page navigation example" class="ms-auto">
                    <ul class="pagination">
                        {{#paginate pagination type="first"}}
                        <li {{#if disabled}}class="disabled page-item" {{/if}}><a class="page-link"
                                href="?p={{n}}">Inicio</a></li>
                        {{/paginate}}
                        {{#paginate pagination type="previous"}}
                        <li {{#if disabled}}class="disabled page-item" {{/if}}><a class="page-link" href="?p={{n}}"><i
                                    class="bi bi-arrow-left"></i></a></li>
                        {{/paginate}}
                        {{#paginate pagination type="next"}}
                        <li {{#if disabled}}class="disabled page-item" {{/if}}><a class="page-link" href="?p={{n}}"><i
                                    class="bi bi-arrow-right"></i></a></li>
                        {{/paginate}}
                        {{#paginate pagination type="last"}}
                        <li {{#if disabled}}class="disabled page-item" {{/if}}><a class="page-link"
                                href="?p={{n}}">Ultima</a></li>
                        {{/paginate}}
                    </ul>
                </nav>
            </div>
            {{#each data}}
            <div class="card mt-4 mx-5" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                <div class="card-header">
                    <h3 style="color: #2c1d1db1; text-shadow: 2px 2px 4px white;">Nombre Usuario: <p
                            style=" text-shadow: 2px 2px 4px white; color: black; text-transform: uppercase;">
                            {{Nom_usu}}</p>
                    </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <p>RUT: {{ID}}</p>
                        </div>
                        <div class="col">
                            <p>Estado: {{Estado}}</p>
                        </div>
                        <div class="col">
                            <p>Cargo: {{Cargo}}</p>
                        </div>
                        <div class="col">
                            <p>Institucion: {{Institucion}}</p>
                        </div>
                        <div class="col">
                            <p>Ultima Conexion: {{timeago Lst_conn}}</p>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-5"></div>
                        <div class="col">
                            <a class="btn btn-info ms-auto" href="">Cambiar Contraseña <i class="bi bi-pencil-square"
                                    style="color: white;"></i></a>
                            <a class="btn btn-info ms-auto" href="">Modificar Usuario <i class="bi bi-pencil-square"
                                    style="color: white;"></i></a>
                            <a class="btn btn-danger ms-auto" href="">Eliminar Usuario <i class="bi bi-trash"
                                    style="color: white;"></i> </a>
                        </div>
                    </div>
                </div>

            </div>
            {{/each}}
        </div>
    </div>
</div>