<div class="container-fluid">
    <h1 class="text-center mt-2">Modificar usuario</h1>
    <div class="row p-5">
        <div class="col">
            <div class="border border-1 rounded mx-auto" style="background-color: aliceblue;">
                <form class="" action="" method="post">                    
                    <div class="row p-4">
                        <div class="col p-4">
                            <div class="col">
                                <label>Nombre Usuario:</label>
                                <input class="form-control input-sm" type="text" name="Nom_usu" value="{{usuario.Nom_usu}}">
                            </div><br>
                            <label>Cargo del usuario</label>
                            <label id="LabelCargo">{{usuario.Cargo}}</label>
                            <input type="text" name="Cargo" id="Cargo" value="{{usuario.Cargo}}" hidden>
                            <div class="btn-group dropend">
                                <button type="button" class="ms-4 btn btn-light dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Cambiar
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" onclick="SetAdministrador()">Administrador</a></li>
                                    <li><a class="dropdown-item" onclick="SetAuxiliar()">Auxiliar</a></li>
                                    <li><a class="dropdown-item" onclick="SetFuncionario()">Funcionario</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col p-4">
                            <div>
                                <label>Rut:</label>
                                <input class="form-control" type="text" name="ID" value="{{usuario.ID}}">
                            </div><br>
                            <label for="">Institucion a la que pertenece</label>
                            <input type="text" name="Institucion" id="Institucion" value="{{usuario.Institucion}}" hidden>
                            <label id="LabelInstitucion" name="LabelInstitucion">{{usuario.Institucion}}</label>
                            <div class="btn-group dropend">
                                <button type="button" class="ms-4 btn btn-light dropdown-toggle"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Cambiar
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" onclick="SetIPVC()">IPVC</a></li>
                                    <li><a class="dropdown-item" onclick="SetUB()">UB</a></li>
                                    <li><a class="dropdown-item" onclick="SetUAC()">UAC</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-center p-2">
                            <label>Fecha Creacion: {{usuario.F_add}}</label><br>
                            <label>Ultima Conexion: {{timeago usuario.Lst_conn}}</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center p-2">
                            <button class="btn btn-success btn-block" type="submit">Guardar Cambios</button>
                            <a href="../ModificarUsuario/{{usuario.ID}}" class="btn btn-danger btn-block cancel" type="submit" hidden>Cancelar Cambios</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            
        </div>
    </div>
</div>

<link rel="stylesheet" href="../css/ModUser.css">
<script src="../js/Cambios.js"></script>